.u-section-1 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)
    ),
    url("./bg.jpg");
  background-position: 50% 50%;
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: normal;
  width: 448px;
  margin: 150px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: bold;
  margin: 50px calc(((100% - 1140px) / 2) + 56px) 0
    calc(((100% - 1140px) / 2) + 55px);
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 74px;
  min-width: 42px;
  margin: auto auto 0 calc(((100% - 1140px) / 2) + 533px);
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-style: solid;
  margin: 50px auto 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-social-icons-1 {
    margin-right: NaNpx;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: 340px;
    margin-top: 350px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }
}
.u-section-2 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)
    ),
    url("./bg.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-2 .u-text-1 {
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: normal;
  width: 448px;
  margin: 150px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: normal;
  margin: 50px 56px 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-style: solid;
  margin: 50px auto 60px;
  padding: 20px 79px 21px 77px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 3rem;
    width: 340px;
    margin-top: 350px;
  }
}
.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1026px;
}

.u-section-3 .u-text-1 {
  width: 298px;
  margin: 38px auto 0;
}

.u-section-3 .u-text-2 {
  font-weight: normal;
  margin: 20px 826px 0 153px;
}

.u-section-3 .u-text-3 {
  font-weight: normal;
  margin: -52px 154px 0 913px;
}

.u-section-3 .u-text-4 {
  font-weight: normal;
  margin: -42px 543px 0;
}

.u-section-3 .u-text-5 {
  font-weight: normal;
  margin: 0 967px 0 153px;
}

.u-section-3 .u-text-6 {
  font-weight: normal;
  margin: -39px 560px 0;
}

.u-section-3 .u-text-7 {
  font-weight: normal;
  margin: -39px 154px 0 966px;
}

.u-section-3 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 834px;
  margin: 68px auto 0;
  border: solid 5px #2cccc4;
}

.u-section-3 .u-image-1 {
  min-height: 448px;
  pointer-events: auto;
  background-position: 50% 50%;
  transform: rotate(90deg);
}
.shakeleft {
  animation: shakeleft 0.5s;
  animation-iteration-count: infinite;
}
.shakeright {
  animation: shakeright 0.5s;
  animation-iteration-count: infinite;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-image-2 {
  min-height: 448px;
  pointer-events: auto;
  background-position: 50% 50%;
  transform: rotate(270deg);
}
@keyframes shakeleft {
  0% {
    transform: translate(0px, 5px) rotate(92deg);
  }
  10% {
    transform: translate(0px, 10px) rotate(95deg);
  }
  20% {
    transform: translate(0px, 20px) rotate(100deg);
  }
  30% {
    transform: translate(0px, 10px) rotate(95deg);
  }
  40% {
    transform: translate(0px, 5px) rotate(92deg);
  }
  50% {
    transform: translate(0px, 0px) rotate(90deg);
  }
  60% {
    transform: translate(0px, -5px) rotate(88deg);
  }
  70% {
    transform: translate(0px, -10px) rotate(85deg);
  }
  80% {
    transform: translate(0px, -20px) rotate(80deg);
  }
  90% {
    transform: translate(0px, -10px) rotate(85deg);
  }
  100% {
    transform: translate(0px, -5px) rotate(88deg);
  }
}
@keyframes shakeright {
  0% {
    transform: translate(0px, 5px) rotate(268deg);
  }
  10% {
    transform: translate(0px, 10px) rotate(265deg);
  }
  20% {
    transform: translate(0px, 20px) rotate(260deg);
  }
  30% {
    transform: translate(0px, 10px) rotate(265deg);
  }
  40% {
    transform: translate(0px, 5px) rotate(268deg);
  }
  50% {
    transform: translate(0px, 0px) rotate(270deg);
  }
  60% {
    transform: translate(0px, -5px) rotate(272deg);
  }
  70% {
    transform: translate(0px, -10px) rotate(275deg);
  }
  80% {
    transform: translate(0px, -20px) rotate(280deg);
  }
  90% {
    transform: translate(0px, -10px) rotate(275deg);
  }
  100% {
    transform: translate(0px, -5px) rotate(270deg);
  }
}
.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-3 .u-image-3 {
  width: 256px;
  min-height: 145px;
  margin: 56px 0 0 auto;
}

.u-section-3 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-group-2 {
  width: 800px;
  min-height: 124px;
  height: auto;
  margin: -149px auto 60px 62px;
}

.u-section-3 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  margin: 0 577px 0 0;
}

.u-section-3 .u-text-9 {
  margin: -104px 0 0 217px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-3 .u-text-1 {
    width: 593px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 705px;
    margin-left: 53px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-right: 56px;
    margin-left: 792px;
  }

  .u-section-3 .u-text-4 {
    width: 54px;
    margin-top: -52px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 20px;
    margin-right: 887px;
    margin-left: 53px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-right: 470px;
    margin-left: 451px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-right: 53px;
    margin-left: 808px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 38px;
  }

  .u-section-3 .u-image-3 {
    margin-top: 42px;
  }

  .u-section-3 .u-group-2 {
    width: 593px;
    min-height: 145px;
    margin-top: -145px;
    margin-bottom: 0;
    margin-left: 53px;
    height: auto;
  }

  .u-section-3 .u-text-8 {
    margin-top: -1px;
    margin-right: 370px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: -103px;
    margin-left: 190px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: 309px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 559px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 647px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 700px;
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    width: 370px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
    margin-left: 700px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-image-1 {
    min-height: 387px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-2 {
    min-height: 387px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-group-2 {
    width: 454px;
    min-height: 152px;
    margin-left: 0;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    margin-top: -1px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    margin-right: 379px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 467px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 520px;
  }

  .u-section-3 .u-text-6 {
    width: 20px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 520px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 14px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-1 {
    min-height: 581px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    min-height: 581px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    margin-top: 81px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-2 {
    min-height: 232px;
    width: 270px;
    margin-top: -188px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    margin-top: 7px;
    margin-right: 179px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -39px;
    margin-left: 267px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 320px;
  }

  .u-section-3 .u-text-6 {
    margin-top: -26px;
    margin-right: 170px;
  }

  .u-section-3 .u-text-7 {
    margin-top: -26px;
    margin-left: 320px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 42px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 366px;
  }

  .u-section-3 .u-image-2 {
    min-height: 366px;
  }

  .u-section-3 .u-image-3 {
    margin-top: 18px;
  }

  .u-section-3 .u-group-2 {
    min-height: 162px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-8 {
    margin-top: auto;
  }

  .u-section-3 .u-text-9 {
    margin-top: -2px;
  }
}
